//color variables
$light: #fff;
$dark: #000;

//font family
$font-1: "Work Sans", sans-serif;
$font-2: "Poppins", sans-serif;

//color
$color-red: #ee333a;
$color-grey: #fafcfe;

$primary: #ec1c24;
$primary80: #eb444b;
$primary60: #ea6d72;
$primary40: #e79497;
$primary20: #e79497;
