.why-kx {
  padding: 50px 0;
  font-family: $font-2;
  .why-kx-title {
    position: relative;
    h1 {
      color: #ee333a;
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 5px;
    }
    p {
      @include gradientText60;
      font-size: 14px;
      line-height: 21px;
    }
    .why-kx-title-image {
      position: absolute;
      top: -150px;
      right: 0;
    }
  }
}

.why-kx-card {
  margin-bottom: 28px;
  &__title {
    p {
      position: relative;
      @include gradientText;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      margin-left: 30px;
      &::before {
        content: "";
        background: linear-gradient(90deg, #7d0000 0%, #c21313 100%);
        width: 20px;
        height: 20px;
        border-radius: 66px;
        position: absolute;
        left: -30px;
        top: 3px;
      }
    }
  }
  &__content {
    margin-top: 10px;
    margin-left: 50px;
    p {
      @include gradientText60;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
